{{ partial "header.html" . }}

{{ $baseurl := .Site.BaseURL }}
<main role="main" class="homepage">

    {{ partial "hero.html" . }}

    <h1 class="list-title">{{ .Title }}</h1>

    <div class="article-list">
        {{ range .Data.Pages.GroupByDate "2006" }}
            <h2>--{{ .Key }}:</h2>
            <article class="list-item" itemscope itemtype="http://schema.org/Blog">
            {{ range .Pages }}
                {{ partial "archive-item.html" . }}
            {{ end }}
            </article>
        {{ end }}
    </div>

</main>

{{ partial "footer.html" . }}
