{{ $baseurl := .Site.BaseURL }}
<main role="main" class="homepage">

    {{ partial "hero.html" . }}

    <h1 class="headline">Archives</h1>

    <div class="article-list">
        <article class="list-item" itemscope itemtype="http://schema.org/Blog">
        {{ range .Data.Pages "Section" "post" }}
            {{ $dateMissing := eq .Date.Year 1}}
              <h2 class="headline" itemprop="headline">
                  <a href="{{ .RelPermalink }}">{{ .Title }}{{ if .Draft }} (Draft){{ end }}</a>
                  <div class="meta">
                    {{ if eq $dateMissing false }}
                        <span class="key">published on</span>
                        <span class="val"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
                    {{ end }}
                  </div>
              </h2>
        {{ end }}
        </article>
    </div>

</main>
