{{ $baseurl := .Site.BaseURL }}{{ $dateMissing := eq .Date.Year 1}}
<article class="single" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="meta">
{{ if eq $dateMissing false }}
    <span class="key">published on</span>
    <span class="val"><time itemprop="datePublished" datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "January 02, 2006" }}</time></span>
{{ end }}
{{ with .Params.categories }}
    <span class="key">{{ if eq $dateMissing true }}published {{ end }}in</span>
    <span class="val">
{{ range . }}
        <a href="{{ $baseurl }}categories/{{ . | urlize }}">{{ . }}</a>
{{ end }}
    </span>
{{ end }}
{{ with .Params.tags }}
    <br>
    <span class="key">tags:</span>
    <span class="val">
{{ range . }}
        <a href="{{ $baseurl }}tags/{{ . | urlize }}">{{ . }}</a>
{{ end }}
    </span>
{{ end }}
  </div>
  <h1 class="headline" itemprop="headline">{{ .Title }}</h1>
  <section class="body" itemprop="articleBody">
    {{ .Content }}
  </section>
  <section class="body" style="margin-top: 2rem;">
    <div id="cloud-tie-wrapper" class="cloud-tie-wrapper"></div>
    <script src="https://img1.cache.netease.com/f2e/tie/yun/sdk/loader.js"></script>
    <script>
    var cloudTieConfig = {
      url: document.location.href, 
      sourceId: "",
      productKey: "ad61483be11b4fa5be94d4fbbb025e71",
      target: "cloud-tie-wrapper"
    };
    var yunManualLoad = true;
    Tie.loader("aHR0cHM6Ly9hcGkuZ2VudGllLjE2My5jb20vcGMvbGl2ZXNjcmlwdC5odG1s", true);
    </script>
  </section>
</article>
